/*fuentes*/
@font-face {
    font-family: FontRegular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: FontBold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
  } 
  /*colores*/
  .color1 {
    color: #A2DE96;
  }
  .color2 {
    color: #FA6B48;
  }
  .bkgColor1Transparent {
    background-color: rgba(162, 222, 150, 0.9);
  }
  .radius50 {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  /*GLOBAl*/
  html {
    min-width: 300px;
  }
  body {
    background-color: #FEFEFE;
    color: #474A57;
    font-size: 1.375rem;
    font-family: FontRegular;
  }
  ::selection {
    background-color: #A2DE96;
  }
  section {
    text-align: left;
    width: 100%;
  }
  .font-bold {
    font-family: FontBold;
  }
  h1,
  h2,
  h3 {
    color: #474648;
    font-family: FontBold;
  }
  .fadeIn {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }
  .fadeOut {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }
  a:hover {
    color: #FA6B48;
  }
  /*NAVIGATION*/
  .navbar-brand {
    font-size: 2rem;
    color: #FA6B48;
  }
  #navbar {
    background-color: #FEFEFE;
  }
  #navbar .navbar-toggler {
    color: #FEFEFE;
    border-color: #A2DE96;
    font-size: 2rem;
    padding: 0;
    border-radius: 10px;
  }
  .navbar-nav .nav-link {
    color: #474648;
  }
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active {
    color: #A2DE96;
  }
  @media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
      justify-content: center!important;
      align-items: center!important;
    }
  }
  #cont_home {
    height: 50rem;
  }
  #cont_home #img_header {
    background-image: url("../imgs/bkg-header.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #cont_home #img_header-controls {
    bottom: 0;
    right: 0;
  }
  #cont_home #img_header-controls div {
    display: inline-block;
    cursor: pointer;
  }
  #cont_home #img_header-controls-right[data-allow-click="1"],
  #cont_home #img_header-controls-left[data-allow-click="1"] {
    opacity: 1;
  }
  #cont_home #img_header-controls-right[data-allow-click="0"],
  #cont_home #img_header-controls-left[data-allow-click="0"] {
    opacity: 0.5;
  }
  /*BOOTSTRAP ICONS*/
  .bi-list {
    background-color: #A2DE96;
    color: #FEFEFE;
    border-radius: 10px;
    border: 1px solid #A2DE96;
    width: 50px;
    height: 50px;
  }
  .bi-arrow-right-square,
  .bi-arrow-left-square {
    background-color: #A2DE96;
    color: #FEFEFE;
    border-radius: 10px;
    border: 0;
    width: 50px;
    height: 50px;
  }
  #img_header-controls-right[data-allow-click="1"] .bi-arrow-right-square:hover,
  #img_header-controls-left[data-allow-click="1"] .bi-arrow-left-square:hover {
    background-color: #FA6B48;
    border: 0;
  }
  .bi-arrow-up-square-fill {
    color: #FA6B48;
    background-color: #FEFEFE;
    border-radius: 10px;
    border: 1px solid #FA6B48;
    width: 50px;
    height: 50px;
  }
  .bi-arrow-up-square-fill:hover {
    background-color: #A2DE96;
    border: 1px solid #A2DE96;
    color: #FEFEFE;
  }
  .bi-cart-check-fill,
  .bi-people-fill,
  .bi-map-fill {
    width: 80px;
    height: 80px;
    color: #A2DE96;
    background-color: #FEFEFE;
  }
  .bi-star,
  .bi-star-fill {
    width: 20px;
    height: 20px;
    color: #FA6B48;
    padding-right: 5px;
  }
  /*BUTTONS*/
  button.btn-primary,
  a.btn-primary {
    background-color: #FA6B48;
    border: 1px solid #FA6B48;
    color: #FEFEFE;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
  }
  button.btn-primary:link,
  a.btn-primary:link {
    background-color: #FA6B48;
    border: 1px solid #FA6B48;
    color: #FEFEFE;
    border-radius: 20px;
  }
  button.btn-primary:visited,
  a.btn-primary:visited {
    background-color: #FEFEFE !important;
    border: 1px solid #A2DE96 !important;
    color: #474A57;
  }
  button.btn-primary:hover,
  a.btn-primary:hover {
    background-color: #A2DE96 !important;
    border: 1px solid #A2DE96 !important;
    color: #FEFEFE;
  }
  button.btn-primary:active,
  a.btn-primary:active {
    background-color: #FEFEFE !important;
    border: 1px solid #A2DE96 !important;
    color: #474A57;
  }
  button.btn-outline-secondary,
  a.btn-outline-secondary {
    background-color: #FEFEFE;
    border: 1px solid #FA6B48;
    color: #FA6B48;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
  }
  button.btn-outline-secondary:link,
  a.btn-outline-secondary:link {
    background-color: #FEFEFE;
    border: 1px solid #FA6B48;
    color: #FA6B48;
    border-radius: 20px;
  }
  button.btn-outline-secondary:visited,
  a.btn-outline-secondary:visited {
    background-color: #474A57 !important;
    border: 1px solid #A2DE96 !important;
    color: #A2DE96;
  }
  button.btn-outline-secondary:hover,
  a.btn-outline-secondary:hover {
    background-color: #FEFEFE !important;
    border: 1px solid #A2DE96 !important;
    color: #A2DE96;
  }
  button.btn-outline-secondary:active,
  a.btn-outline-secondary:active {
    background-color: #474A57 !important;
    border: 1px solid #A2DE96 !important;
    color: #A2DE96;
  }
  /*MENU*/

  .card {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 10px;
    padding: 0;
  }
  
  .card .card-img-top {
    border: none!important;
  }
  
  .card .card-body-1 {
    margin-top: -50px;
    background: #A2DE96;
    border-bottom-right-radius: 50px;
    padding: 10px;
  }
  
  li.btn-menu {
    list-style-type: none;
    padding-left: 20px;
    display: inline-block;
  }
  li.btn-menu:hover,
  li.btn-menu.active_btn {
    color: #A2DE96;
    cursor: pointer;
  }
  /*CPA*/
  #cpa {
    background-image: url("../imgs/bkg-cpa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  #cpa #cpa_content {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  @media (max-width: 767.98px) {
    #cpa #cpa_content {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  /*TESTIM*/
  .test-img-top {
    width: 100%;
    margin-top: -45px;
  }
  .test-img-top img {
    width: 90px;
    height: 90px;
    border-radius: 45px;
  }
  .cont-testim {
    padding-top: 0;
  }
  @media (max-width: 991.98px) {
    .cont-testim {
      padding-top: 45px;
    }
  }
  /*CONTACT*/
  #contact {
    background-image: url("../imgs/bkg-contact.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 100%;
    width: 100%;
  }
  .form-control {
    border-radius: 10px;
  }
  #message_sent_ok {
    display: none;
  }
  #form {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-color: #FEFEFE;
  }
  @media (max-width: 991.98px) {
    #contact_cont_form {
      margin-bottom: 70px;
    }
  }
  /*FOOTER*/
  footer {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-color: #A2DE96;
    background-color: #A2DE96;
    color: #FEFEFE;
  }
  footer #to_top {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: none;
  }
 /*loader*/
.loading_container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FEFEFE;
  height: 100%;
  width: 100%;
  z-index: 1030;
}
.loading_container .loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}
.loading_container .loader:before,
.loading_container .loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loading_container .loader:before {
  animation: ball1 1s infinite;
  background-color: #474A57;
  box-shadow: 30px 0 0 #FA6B48;
  margin-bottom: 10px;
}
.loading_container .loader:after {
  animation: ball2 1s infinite;
  background-color: #FA6B48;
  box-shadow: 30px 0 0 #474A57;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}
@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #FA6B48;
  }
  50% {
    box-shadow: 0 0 0 #FA6B48;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #FA6B48;
    margin-bottom: 10px;
  }
}
@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #474A57;
  }
  50% {
    box-shadow: 0 0 0 #474A57;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #474A57;
    margin-top: 0;
  }
}